section.cover {
    background-image: linear-gradient(to bottom, #59599B, #24243E, #0F0C29 );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}