// Fonts
$font: 'Zen Kaku Gothic Antique',
        'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, 
        Verdana, 
        sans-serif ;

$h1-color: #424242;
$p-color: #757575;

// Styles

div.title {

    margin: 20px 0 30px 0;
    width: 70%;
    h1 {
        font-size: 31.25px;
        line-height: 37.5px;
        font-weight: bold;
        letter-spacing: -0.5px;
        font-family: $font;
        color: $h1-color;
        margin: 5px 0;
        padding: 0;
    }

    p {
        color: $p-color;
        font-family: $font;
        font-size: 12.8px;
        margin: 0;
        padding: 0;
    }
}