p {
    color: red; /* Para que se note */
    font-size: 14px;
    margin: 0px;


}
div{
    box-sizing: border-box;
    overflow: hidden;
}
input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 30px;
}