footer.principal {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    &>p{
        color: #9E9E9E;

        &:nth-of-type(2) {
            a {
                display: flex;
                align-items: center;
                column-gap: 12px;
                color: #9E9E9E;
            }
        }
    }
}